table_add set_queue_len_unit act_set_queue_len_unit 0 => 0x01
register_write spine_iq_len_1 0 0xFF
register_write spine_iq_len_1 1 0xFF
register_write spine_iq_len_1 2 0xFF
register_write spine_iq_len_1 3 0xFF
register_write spine_iq_len_1 4 0xFF
register_write spine_iq_len_1 5 0xFF
register_write spine_iq_len_1 6 0xFF
register_write spine_iq_len_1 7 0xFF