[submodule "afxdp/lib/libbpf"]
	path = afxdp/lib/libbpf
	url = https://github.com/libbpf/libbpf
[submodule "afxdp/lib/xdp-tools"]
	path = afxdp/lib/xdp-tools
	url = https://github.com/xdp-project/xdp-tools
[submodule "thirdparty/rccl"]
	path = thirdparty/rccl
	url = https://github.com/ROCm/rccl.git
[submodule "thirdparty/rccl-tests"]
	path = thirdparty/rccl-tests
	url = https://github.com/ROCm/rccl-tests.git
[submodule "thirdparty/nccl"]
	path = thirdparty/nccl
	url = https://github.com/NVIDIA/nccl.git
[submodule "thirdparty/nccl-tests"]
	path = thirdparty/nccl-tests
	url = https://github.com/NVIDIA/nccl-tests.git
