*.dSYM
*.o
**/*.o
*.out
tags
.idea
CMakeFiles
CTestTestfile.cmake
build
cmake-build-debug
cmake_install.cmake
Makefile
CMakeCache.txt
*.log
*.dump
demo
main
snap
logs

/ext/PHP/*
!/ext/PHP/build.sh
!/ext/PHP/config.m4
!/ext/PHP/modules
!/ext/PHP/dconf_lib
!/ext/PHP/discovery_dir
!/ext/PHP/discovery.c
!/ext/PHP/php_discovery.h
!/ext/PHP/discovery.php
/.idea
cmake-build/debug
bin